<div class="container">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <%=image_tag("slide1.jpg",:size => "1600x900")%>
        <div class="carousel-caption">
          <h3>Chania</h3>
          <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
        </div>
      </div>

      <div class="item">
        <%=image_tag("slide2.jpg",:size => "1600x900") %>
        <div class="carousel-caption">
          <h3>Chania</h3>
          <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
        </div>
      </div>

      <div class="item">
        <%=image_tag("slide3.jpg",:size => "1600x900")%>
        <div class="carousel-caption">
          <h3>Flowers</h3>
          <p>Beatiful flowers in Kolymbari, Crete.</p>
        </div>
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <div class="row">
    <div class="col-sm-8">
      <div class="gallery">
        <div class="images">
          <div class="image active">
            <div class="content" style="background-image: url(<%= asset_path 'product_front.jpg' %>)"></div>
          </div>
          <div class="image">
            <div class="content" style="background-image: url(<%= asset_path 'product_side.jpg' %>)"></div>
          </div>
          <div class="image">
            <div class="content" style="background-image: url(<%= asset_path 'product_inside.jpg'%>)"></div>
          </div>
          <div class="image">
            <div class="content" style="background-image: url(<%= asset_path 'product_back.jpg' %>)"></div>
          </div>
        </div>
        <div class="thumbs">
          <div class="thumb active" style="background-image: url(<%= asset_path 'product_front.jpg' %>)"></div>
          <div class="thumb" style="background-image: url(<%= asset_path 'product_side.jpg' %>)"></div>
          <div class="thumb" style="background-image: url(<%= asset_path 'product_inside.jpg'%>)"></div>
          <div class="thumb" style="background-image: url(<%= asset_path 'product_back.jpg' %>)"></div>
        </div>
      </div>

    </div>
    <div class="col-sm-4">
      <a href="#0" class="cd-add-to-cart" data-price="25.99">Add To Cart</a>
    </div>

  </div>

  <div class="cd-cart-container empty">
    <a href="#0" class="cd-cart-trigger">
      Cart
      <ul class="count"> <!-- cart items count -->
        <li>0</li>
        <li>0</li>
      </ul> <!-- .count -->
    </a>

    <div class="cd-cart">
      <div class="wrapper">
        <header>
          <h2>Cart</h2>
          <span class="undo">Item removed. <a href="#0">Undo</a></span>
        </header>

        <div class="body">
          <ul>
            <!-- products added to the cart will be inserted here using JavaScript -->
            <li class="product">

            </li>
          </ul>
        </div>

        <footer>
          <a href="#0" class="checkout btn"><em>Checkout - $<span>0</span></em></a>
        </footer>
      </div>
    </div> <!-- .cd-cart -->
  </div> <!-- cd-cart-container -->

</div>

