<!DOCTYPE html>

<html>

<head>
    <title>Melisa Khan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<style>

  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }

  #navbar-primary .navbar-nav {
    width: 100%;
    text-align: center;


  }
  #navbar-primary .navbar-nav > li {
    display: inline-block;
    float: none;

  }
  #navbar-primary .navbar-nav > li > a {
    padding-left: 30px;
    padding-right: 30px;
  }


  body:before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 100;
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  }

  .button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
  }

  .button2:hover {
    background-color: #008CBA;
    color: white;
  }

  #footer {
    border-top: 1px solid #e2e2e2;
    width: 884px;
  }
  footer {
    width: 1116px !important;
    border: 0px !important;
    margin: auto;
  }
  #header_nav{
    background-color: white !important;
    border-color: white !important;
  }

  .footersection {
    width: 251px;
    margin: 0 14px;
    float: left;
  }

  #pay-paypal {
    width: 64px;
    background-position: -11px -6px;
  }

</style>

  <nav id = "header_nav" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

      <%= button_to product_cart_path, {class: "button button2 pull-right"} do%>
          <i class="glyphicon glyphicon-shopping-cart"> MyCart</i>
          <%end%>
    </div>
    <header role="banner">
      <nav id="navbar-primary" class="navbar" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-primary-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="navbar-primary-collapse">
            <ul class="nav navbar-nav">
              <% if current_page?( '/product/index') %>
                  <li class="active"><%= link_to 'Home', product_index_path, :class => 'navbar-link' %></li>
              <%else%>
                  <li><%= link_to 'Home', product_index_path, :class => 'navbar-link' %></li>
              <%end%>
              <% if current_page?( '/product/about') %>
                  <li class="active"><%= link_to 'About', product_about_path, :class => 'navbar-link' %></li>
              <%else%>
                  <li><%= link_to 'About', product_about_path, :class => 'navbar-link' %></li>
              <%end%>

              <li><%=link_to image_tag('reallogo.jpg', alt:"logo", :width =>190, :height =>190, class: 'logo-navbar-middle'), product_index_path%></li>

              <% if current_page?( '/product/inspiration') %>
                  <li class="active"><%= link_to 'Inspiration', product_inspiration_path, :class => 'navbar-link' %></li>
              <%else%>
                  <li><%= link_to 'Inspiration', product_inspiration_path, :class => 'navbar-link' %></li>
              <%end%>

              <% if current_page?( '/product/contact') %>
                  <li class="active"><%= link_to 'Contact', product_contact_path, :class => 'navbar-link' %></li>
              <%else%>
                  <li><%= link_to 'Contact', product_contact_path, :class => 'navbar-link' %></li>
              <%end%>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </header><!-- header role="banner" -->
    </nav>
  </head>

  <body>
    <%= yield %>
  </body>

<div class="container-fluid">
<footer id="footer">

  <!-- Payments -->
  <div class="footersection">

    <h3 class="text-center">Payment Info</h3>

    <ul id="payment-options" class="clearfix">

      <li class="payment-option" id="pay-paypal">PayPal</li>
      <li class="payment-option" id="pay-mastercard">Mastercard</li>
      <li class="payment-option" id="pay-visa">Visa</li>
    </ul>

  </div>
  <!-- End Payments -->

  <!-- Shipping -->
  <div class="footersection">

    <h3 class="text-center">Terms &amp; Conditions</h3>
    <p class="text-center">We ship worldwide with the Spanish postal service. All packages will be sent with a tracking number.<br>
      <a href="/pages/terms-conditions">Read more</a></p>

  </div>
  <!-- End Shipping -->

  <!-- NEWS and UPDATES -->
  <div class="footersection">

    <h3 class="text-center">NEWS &amp; UPDATES</h3>
    <p class="text-center">
      For news and updates please follow
      us on our <a href="http://adablackjack.tumblr.com/" target="_blank">Tumblr</a> blog, subscribe on
      <a href="https://www.facebook.com/AdaBlackjack" target="_blank">Facebook</a> or follow us on <a href="https://twitter.com/adablackjack" target="_blank">Twitter</a>.
    </p>

  </div>
  <!-- End NEWS and UPDATES -->

  <!-- FAQ and CONTACT -->
  <div class="footersection">

    <h3 class="text-center">CONTACT</h3>
    <p class="text-center">
      If you have any questions or inquiries about our products,
      please send us an email: <a href="mailto:melisakhan@live.com">melisakhan@live.com</a>.
      We´d love to hear from you!
    </p>

  </div>
  <!-- End FAQ and CONTACT -->

  <br class="clear">

</footer>
<br class="clear">
<!-- Sub footer !-->
<div id="subfooter">
  <div id="wrappthefooter">




    <div id="mc_embed_signup">
      <form>
        <label for="mce-EMAIL">Subscribe to our mailing list</label>
        <input type="email" value="" name="EMAIL" class="email hint" id="mce-EMAIL" placeholder="Subscribe to our mailing list" required="">
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </form>
    </div>

    <!--End mc_embed_signup-->


    <div class="ft-module one-third" id="about-module">
      <a id="ft-share-twitter" class="ft-share ir" href="http://www.twitter.com/AdaBlackjack" target="_blank"></a>
      <a id="ft-share-facebook" class="ft-share ir" href="https://www.facebook.com/melisa.khan.7" target="_blank"></a>
      <a id="ft-share-tumblr" class="ft-share ir" href="http://adablackjack.tumblr.com/" target="_blank"></a>
      <a id="ft-share-pinterest" class="ft-share ir" href="http://pinterest.com/adablackjack/" target="_blank"></a>





    </div>



    <p style="text-color: black">Copyright © 2016 MK.</p>

    <br class="clearfix">

  </div>
</div>
  </div>

</html>
