<!DOCTYPE html>

<html>

<head>
    <title>Melisa Khan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<style>
  #navbar-primary .navbar-nav {
    width: 100%;
    text-align: center;
  }
  #navbar-primary .navbar-nav > li {
    display: inline-block;
    float: none;
  }
  #navbar-primary .navbar-nav > li > a {
    padding-left: 30px;
    padding-right: 30px;
  }

  body:before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 100;
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  }
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
  }

  .button2:hover {
    background-color: #008CBA;
    color: white;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
  }
  footer ul {
    list-style: none;
    padding-left: 0;
  }

  footer ul li {
    display: inline;
    margin-right: 1em;
  }

  footer ul li a {
    text-transform: uppercase;
    font-weight: bold;
  }



</style>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

      <%= button_to product_cart_path, {class: "button button2 pull-right"} do%>
          <i class="glyphicon glyphicon-shopping-cart"> MyCart</i>
          <%end%>
    </div>
    <header role="banner">
      <nav id="navbar-primary" class="navbar" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-primary-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="navbar-primary-collapse">
            <ul class="nav navbar-nav">
              <% if current_page?( '/product/index') %>
                  <li class="active"><%= link_to 'Home', product_index_path, :class => 'navbar-link' %></li>
              <%else%>
                  <li><%= link_to 'Home', product_index_path, :class => 'navbar-link' %></li>
              <%end%>
              <% if current_page?( '/product/about') %>
                  <li class="active"><%= link_to 'About', product_about_path, :class => 'navbar-link' %></li>
              <%else%>
                  <li><%= link_to 'About', product_about_path, :class => 'navbar-link' %></li>
              <%end%>

              <li><%=link_to image_tag("logo.png", class: "logo-navbar-middle"), product_index_path%></li>

              <% if current_page?( '/product/inspiration') %>
                  <li class="active"><%= link_to 'Inspiration', product_inspiration_path, :class => 'navbar-link' %></li>
              <%else%>
                  <li><%= link_to 'Inspiration', product_inspiration_path, :class => 'navbar-link' %></li>
              <%end%>

              <% if current_page?( '/product/contact') %>
                  <li class="active"><%= link_to 'Contact', product_contact_path, :class => 'navbar-link' %></li>
              <%else%>
                  <li><%= link_to 'Contact', product_contact_path, :class => 'navbar-link' %></li>
              <%end%>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </header><!-- header role="banner" -->
    </nav>
  </head>

  <body>
  <div class="container">
    <%= yield %>
  </div>
  </body>


<footer class="footer">
  <div class="container">

  <br />
  <ul class="pull-right">
    <li><a href="#">Help</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Sign in</a></li>
  </ul>
  </div>
</footer>

</html>
